@model WIRKDEVELOPER.Models.Bed;
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="row">
        <div class="col">
            <a asp-action="ViewBeds" class="btn btn-outline-primary">List</a>
        </div>
    </div>
    <h1><div class=" bg-info bg-opacity-50 text-center text-white rounded-1">Add Beds</div></h1>

    <form method="post" asp-action="AddBeds" class="bg-white bg-opacity-60 border border-3 border-dark" id="newForm">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">

            <div class="col">
                <div class="form-group">
                    <label asp-for="BedNumber">Bed Number</label>
                    <div>
                        <input type="number" asp-for="BedNumber" class="form-control" id="InvalidName" required />
                    </div>
                    <div class="invalid-feedback"></div>
                    <span asp-validation-for="BedNumber" class=" text-danger"></span>
                </div>
            </div>
     
        <div class="row">
            <div class="col">
               @*  <div class=" bg-white bg-opacity-25">
                    <a asp-controller="Surgeon" asp-action="DashBoard">Back</a>

                </div> *@
            </div>
            <div class="col">
                <div class="bg-white bg-opacity-25">
                    <input type="submit" class="btn-outline-primary" value="submit" />

                </div>
            </div>

        </div>
    </form>
   
</body>
</html>

