@model WIRKDEVELOPER.Models.Vitals;
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="row">
        <div class="col">
            <a asp-action="ViewVitals" class="btn btn-outline-primary">Back</a>
        </div>
    </div>
    <h1><div class=" bg-info bg-opacity-50 text-center text-white rounded-1">Add Vitals</div></h1>

    <form method="post" asp-action="Add Vitals" class="bg-white bg-opacity-60 border border-3 border-dark" id="newForm">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">

            <div class="col">
                <div class="form-group">
                    <label asp-for="VitalType"></label>
                    <div>
                        <input type="email" asp-for="VitalType" class="form-control" id="InvalidName" required />
                    </div>
                    <div class="invalid-feedback"></div>
                    <span asp-validation-for="VitalType" class=" text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Minimumrange"></label>
                    <div>
                        <input type="email" asp-for="Minimumrange" class="form-control" id="InvalidName" required />
                    </div>
                    <div class="invalid-feedback"></div>
                    <span asp-validation-for="Minimumrange" class=" text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Maximumrange"></label>
                    <div>
                        <input type="email" asp-for="Maximumrange" class="form-control" id="InvalidName" required />
                    </div>
                    <div class="invalid-feedback"></div>
                    <span asp-validation-for="Maximumrange" class=" text-danger"></span>
                </div>
            </div>

        </div>

        </div>
        <div class="row">
            <div class="col">
                <a asp-action="AddActiveIngredient" class="btn btn-outline-primary">Next</a>
            </div>
        </div>
        <
    </form>

</body>
</html>




