@model IEnumerable<WIRKDEVELOPER.Models.Admin.AnConditions>

@{
    Layout = "AdminLayout";
}

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.bootstrap4.min.css" />
</head>
<div id="Header" class="bg-info container">
    <h2 class="m-1 pt-4 text-center text-white">List of Conditions</h2>
</div>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">List of Conditions</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Admin" asp-action="CreateAnConditions" class="btn btn-primary"><i class="bi bi-plus-circle"></i>Create</a>
        </div>
    </div>
    <br />
    @*  <div class="row pt-4">
    <div class="col-6">
    <h2 class="text-primary">View Patients</h2>
    </div>
    </div>
    <br /> *@
    @if (Model.Count() > 0)
    {

        <table class="table table-sm table-hover">

            <thead class="table-secondary">
                <tr>
                    <th>
                        Conditions
                    </th>
                    <th>
                        Chronic-code
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var conditions in Model)
                {
                    <tr>
                        <td width="20%">@conditions.Diagnose</td>
                        <td width="20%">@conditions.chroniccode</td>
                        @* <td class=" col-10 text-end">
                <a asp-controller="Admin" asp-action="UpdateDosageForm" asp-route-ID="@vital.ScheduleId" class="btn btn-primary"><i class="bi bi-arrow-repeat"></i>Update</a>

                <a asp-controller="Admin" asp-action="DeleteDosageForm" asp-route-ID="@vital.ScheduleId" class="btn btn-danger">
                <i class="bi bi-trash3-fill"></i>Delete
                </a>

                </td>
                *@

                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <p>No Schedule added yet</p>
    }

</div>
