@model WIRKDEVELOPER.Models.Admin.ChronicMedication

@{
    Layout = "AdminLayout";
}
<div class="mx-0 mx-sm-auto">
    <div class="card w-75">
        <div class="card-body ">
            <div class="card-header bg-primary">

                <h3 class="card-title text-white mt-2" id="exampleModalLabel">Chronic Medication</h3>
            </div>
            <form method="post" asp-action="CreateChronicMedication">
                <div class="border p-3 #FBD603">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>@*validation*@

                    <div class="row">

                        <div class="form-group">

                            <div class="col-12">

                                <div class="row">


                                    <div class="row">
                                        <div class="col-md-4">
                                            <h4><label asp-for="ChronicName"></label></h4>@*These names come from our properties in the model *@
                                            <input asp-for="ChronicName" class="form-control box mb-2" type="text" placeholder="Type" />
                                            <span asp-validation-for="ChronicName" class="text-danger"></span>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">

                                            <label asp-for="Active" class="control-label">Active ingredients</label>
                                            <select asp-for="Active" class="form-control" asp-items="ViewBag.getActive">
                                                <option selected disabled>--Select Active Ingredients--</option>
                                            </select>
                                            <span asp-validation-for="Active" class="text-danger"></span>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">

                                            <label asp-for="ScheduleId" class="control-label">Schedule</label>
                                            <select asp-for="ScheduleId" class="form-control" asp-items="ViewBag.getSchedule">
                                                <option selected disabled>--Select schedule--</option>
                                            </select>
                                            <span asp-validation-for="ScheduleId" class="text-danger"></span>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">

                                            <label asp-for="DosageFormID" class="control-label">DosageForm</label>
                                            <select asp-for="DosageFormID" class="form-control" asp-items="ViewBag.getDosage">
                                                <option selected disabled>--Select DosageForm--</option>
                                            </select>
                                            <span asp-validation-for="DosageFormID" class="text-danger"></span>
                                        </div>

                                    </div>






                                </div>
                            </div>
                            <div class="col-12">
                                <div>
                                    <div class="form-group row">
                                        <div class="col-4 offset-9 row">
                                            <div class="col">
                                                <input type="submit" class="btn btn-info w-75 bi bi-arrow-left-circle" value="SAVE" />
                                                <a asp-controller="Admin" asp-action="ChronicMedicationList" class="btn btn-primary"><i class="bi bi-arrow-repeat"></i>Chronic Medication</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </form>
        </div>
    </div>

</div>
