@model WIRKDEVELOPER.Models.Condition
<div class="mt-2 p-2 bg-primary text-center text-white rounded">
    <h6>Update Condition </h6>

</div>
<hr />
<div class="container p-3 bg-blue-200 p-2 text-dark  bg-blue-200 bg-opacity-50">
    <form method="post" asp-action="updateOperatingTheatre" class="bg-blue-200 p-2 text-dark  bg-blue-200 bg-opacity-50">
        <input asp-for="ConditionID" hidden />
        <div class="col">
            <div class="form-group">
                <label asp-for="ConditionName"></label>
                <div>
                    <input type="email" asp-for="ConditionName" class="form-control" id="InvalidName" required />
                </div>
                <div class="invalid-feedback"></div>
                <span asp-validation-for="ConditionName" class=" text-danger"></span>
            </div>
        </div>


        <div class=" form-group row">
            <div class="col-6 ">
                <input type="submit" class="btn btn-info w-75" value="update" />
            </div>
            <div class="col-6">
                <a asp-action="ViewCondition" class="btn btn-danger w-75"> Back</a>
            </div>
        </div>

    </form>
</div>


