
@{
    Layout = "AnaesthesiologistLayout";
    // ViewData["Title"] = "Anesthesiologist";
}
@if (User.IsInRole("Anaesthesiologist"))
{
   <div class="mt-2 p-3 bg-white text-black rounded">
     <h1>
        
@*         <a href="index.html"><img class="img-responsive" width="500" height="110" src="~/_Images/Vaccs/VaccsGIF.jpg" alt="#" /></a>
*@@*         <a href="index.html"><img class="img-responsive" width="250" height="140" src="~/_Images/Fnurse.png" alt="#" /></a>
*@
     </h1>
      <p class="align-text-bottom"><h1>WELCOME TO THE ANAESTHESIOLOGIST DASHBOARD </h1></p><span class="auto-type"></span>

 </div>
    <head>
        <style>
            .image-container {
                display: flex;
                justify-content: space-between;
            }

            .image {
                width: 50%;
            }
        </style>
    </head>
    <body>
        <div class="row">
        <div class="col-6">
            <div class="container mt-3">
                <div class="card" style="width: 29rem;">
                    <div class="card-body">
                        <div class="p_info_img">
                            <img src="~/Images/Anesthesiologist/Covid-19.jpg" class="img-thumbnail" alt="#" />
                        </div>
                        <p class="align-text-bottom"><h1>LIFE IS PAIN AND THE ENJOYMENT OF LOVE IS ANESTHETIC</h1></p><span class="auto-type"></span>

                        @*<button>
                            <h5><a class="nav-link text-dark" asp-area="" asp-controller="Vaccs" asp-action="Patient">REPORTS</a></h5>
                        </button>*@
                        @* <h5 class="card-title">REPORTS </h5>*@
                        <div class="d-flex align-items-center">
                            <span class="bi bi-file-earmark-person fs-1 me-3"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="container mt-3">
                <div class="card" style="width: 29rem;">
                    <div class="card-body">
                        <div class="p_info_img">
                            <img src="~/Images/Anesthesiologist/Vacc.jpg" class="img-thumbnail" alt="#" />
                        </div>
                        <p class="align-text-bottom"><h1>ANASTHESIA IS WOUNDS WITHOUT PAIN</h1></p><span class="auto-type"></span>
                        <div class="d-flex align-items-center">
                            <span class="bi bi-file-earmark-person fs-1 me-3"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
       @* <div class="image-container ">
            <a href="index.html"><img class="img-responsive" width="600" height="330" src="~/_Images/Vaccs/Vaccs AWARE2.webp" alt="#" /></a>

            <a href="index.html"><img class="img-responsive" width="600" height="330" src="~/_Images/Vaccs/VaccsGIF.jpg" alt="#" /></a>

        </div>*@
    </body>
}

