@model WIRKDEVELOPER.Models.Admin.AnAllergies

@* @    using WIRKDEVELOPER.Models
@    using Microsoft.AspNetCore.Identity
@    using WIRKDEVELOPER.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager *@
@{
    Layout = "AnaesthesiologistLayout";
}
<div class="mx-0 mx-sm-auto">
    <div class="card w-75">
        <div class="card-body ">
            <div class="card-header bg-primary">

                <h1 class="card-title text-white mt-2"> PATIENT RECORDS</h1>
            </div>
            @* <form method="post" asp-action="IndexViewPatient"> *@
            <div class="border p-3 #FBD603">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>@*validation*@

                <div class="row">

                    <div class="form-group">


                        <div class="col-12">
                            <div class="row">

                                <div class="col-12">
                                    <div class="row">

                                        <div class="row">
                                            <div class="col-8">
                                                <h4>PATIENT INFORMATION</h4>
                                                <p>Patient Name:@ViewBag.PatientID</p>
                                                <p>Date Of Birth:@ViewBag.PatientID</p>
                                                <p>Gender:@ViewBag.PatientID</p>
                                                @* <p>Last Name: @UserManager.GetUserAsync(User).Result.LastName</p>
                                                <p>Email Address: @UserManager.GetUserAsync(User).Result.Email</p> *@
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="text-center">
                                    <h1> ALLERGIES</h1>
                                </div>






                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

