@model IEnumerable<WIRKDEVELOPER.Models.Admin.AnCurrentMedication>
@{
    Layout = "AnaesthesiologistLayout";
}


@if (User.IsInRole("Anaesthesiologist"))
{
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">List of your screenings</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Anaesthesiologist" asp-action="Order" class="btn btn-primary"><i class="bi bi-plus-circle"></i>BACK</a>
            </div>
        </div>
        <br />
        @if (Model.Count() > 0)
        {
            @*<table class="table table-bordered table-striped" style="width:100%">*@
            <table class="table table-info table-hover">

                <thead>
                    <tr>
                        <th>
                            MedicationName
                        </th>
                    
                     
               
                    </tr>
                </thead>

                <tbody>
                    @foreach (var currentMedication in Model)
                    {
                        <tr>
                            <td width="20%">@currentMedication.ChronicMedication.ChronicName
                     

                        </tr>
                    }
                </tbody>
            </table>

        }
        else
        {
            <p>No Screenings created yet</p>
        }

    </div>
}

