@model IEnumerable<WIRKDEVELOPER.Models.Patient>
@{

    Layout = "~/Views/Shared/SurgeonLayout.cshtml";
}
<div class=" col-10 text-right">
    <a asp-controller="Nurse" asp-action="Patient" style="width:100%"></a>
</div>
<div class="bg-white bg-opacity-50">
    @using (Html.BeginForm("SearchPatient", "Surgeon", FormMethod.Get))
    {
        <b>search by:</b>
        @Html.RadioButton("searchby", "PatientName", true)

        <text>Name</text>
        @Html.RadioButton("searchby", "PatientIDNO", true) <text>IDNO</text>

        <br>
        @Html.TextBox("search", "", htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="search" class="btn btn-info " />
    }
</div>
<div>
    <p class="text-center text-danger">NO RECORDS</p>
    <div class="bg-white  text-center text-info">
        <a asp-controller="Surgeon" asp-action="CreateBookingPatient">ADD NEW PATIENT</a>
    </div>
</div>

