@model WIRKDEVELOPER.Models.BookingPatient;
@{
    Layout = "~/Views/Shared/SurgeonLayout.cshtml";
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        @* <link rel="stylesheet" href="~/css/StyleSurgeon3.css"> *@
    <script type="text/javascript">
        $(document).ready(function () {
            // Countries
            var country_arr = new Array("Select Country", "AUSTRALIA", "INDIA", "NEW ZEALAND", "USA", "UAE", "MAURITIUS");

            $.each(country_arr, function (i, item) {
                $('#country').append($('<option>', {
                    value: i,
                    text: item,
                }, '</option>'));
            });

            // States
            var s_a = new Array();
            s_a[0] = "Select State";
            s_a[1] = "Select State|QUEENSLAND|VICTORIA";
            s_a[2] = "Select State|ANDHRAPRADESH|KARNATAKA|TAMILNADU|DELHI|GOA|W-BENGAL|GUJARAT|MADHYAPRADESH|MAHARASHTRA|RAJASTHAN";
            s_a[3] = "Select State|AUCKLAND";
            s_a[4] = "Select State|NEWJERSEY|ILLINOIS";
            s_a[5] = "Select State|DUBAI";
            s_a[6] = "Select State|MAURITIUS";

            // Cities
            var c_a = new Array();
            c_a['QUEENSLAND'] = "BRISBANE";
            c_a['VICTORIA'] = "MELBOURNE";
            c_a['ANDHRAPRADESH'] = "HYDERABAD";
            c_a['KARNATAKA'] = "BANGLORE";
            c_a['TAMILNADU'] = "CHENNAI";
            c_a['DELHI'] = "DELHI";
            c_a['GOA'] = "GOA";
            c_a['W-BENGAL'] = "KOLKATA";
            c_a['GUJARAT'] = "AHMEDABAD1|AHMEDABAD2|AHMEDABAD3|BARODA|BHAVNAGAR|MEHSANA|RAJKOT|SURAT|UNA";
            c_a['MADHYAPRADESH'] = "INDORE";
            c_a['MAHARASHTRA'] = "MUMBAI|PUNE";
            c_a['RAJASTHAN'] = "ABU";
            c_a['AUCKLAND'] = "AUCKLAND";
            c_a['NEWJERSEY'] = "EDISON";
            c_a['ILLINOIS'] = "CHICAGO";
            c_a['MAURITIUS'] = "MAURITIUS";
            c_a['DUBAI'] = "DUBAI";


            $('#country').change(function () {
                var c = $(this).val();
                var state_arr = s_a[c].split("|");
                $('#state').empty();
                $('#city').empty();
                if (c == 0) {
                    $('#state').append($('<option>', {
                        value: '0',
                        text: 'Select State',
                    }, '</option>'));
                } else {
                    $.each(state_arr, function (i, item_state) {
                        $('#state').append($('<option>', {
                            value: item_state,
                            text: item_state,
                        }, '</option>'));
                    });
                }
                $('#city').append($('<option>', {
                    value: '0',
                    text: 'Select City',
                }, '</option>'));
            });

            $('#state').change(function () {
                var s = $(this).val();
                if (s == 'Select State') {
                    $('#city').empty();
                    $('#city').append($('<option>', {
                        value: '0',
                        text: 'Select City',
                    }, '</option>'));
                }
                var city_arr = c_a[s].split("|");
                $('#city').empty();

                $.each(city_arr, function (j, item_city) {
                    $('#city').append($('<option>', {
                        value: item_city,
                        text: item_city,
                    }, '</option>'));
                });


            });
        });
    </script>

    </head>
    <body>
    <div class="row">
        <div class=" col-1">
            <a asp-action="BookingPatientList" class=" btn btn-primary  ">List</a>
        </div>
    </div>
    <div class="row" >
        <div class=col>
            <div class=" mt-2 bg-info bg-opacity-50 text-center text-white rounded-1"> ADD NEW Patient</div>
        </div>
    </div>
    <form method="post" asp-action="CreateBookingPatient" class="bg-white bg-opacity-60 border border-3 border-dark">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col border-2">
                <div class="form-group border-2">
                    <label asp-for="BookingPatientName"></label>
                    <div>
                        <input asp-for="BookingPatientName" class="form-control" id="InvalidName" required />
                    </div>
                    <div class="invalid-feedback"></div>
                    <span asp-validation-for="BookingPatientName" class=" text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group border-1">
                    <label asp-for="BookingPatientSurname"></label>
                    <div>
                        <input type="date" asp-for="BookingPatientSurname" class="form-control" id="InvalidName" required />
                    </div>
                    <div class="invalid-feedback"></div>
                    <span asp-validation-for="BookingPatientSurname" class=" text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group border-1">
                    <label asp-for="Gender"></label>
                    <div>
                        <input asp-for="Gender" class="form-control" id="InvalidName" required />
                    </div>
                    <div class="invalid-feedback"></div>
                    <span asp-validation-for="Gender" class=" text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div id="option">
                    <div class="form-group border-1">
                        <label asp-for="email"></label>
                        <input asp-for="email" type="email" class="form-control" id="Invalid" required />
                    </div>
                    <div class="invalid-feedback"></div>
                    <span asp-validation-for="email" class=" text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Date"></label>
                    <div>
                        <input type="date" asp-for="Date" class="form-control" id="InvalidName" required />
                    </div>
                    <div class="invalid-feedback"></div>
                    <span asp-validation-for="Date" class=" text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Time"></label>
                    <div>
                        <input type="time" asp-for="Time" class="form-control" id="InvalidName" required />
                    </div>
                    <div class="invalid-feedback"></div>
                    <span asp-validation-for="Time" class=" text-danger"></span>
                </div>
            </div>
        </div>
     @*    <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="country"> select country</label>
                    <select id="country" name="country" asp-for="country" class=" form-control" required>
                      
                    </select>
                    <div class="invalid-feedback"></div>
                    <span asp-validation-for="country" class=" text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="province">select province</label>
                    
                    <select  name="state" id="state" asp-for="province" class=" form-control" required>
                        
                        
                    </select>
                    <div class="invalid-feedback"></div>
                    <span asp-validation-for="province" class=" text-danger"></span>
                </div>
            </div>
            
            <div class="col">
                <div class="form-group">
                    <label asp-for="City">select city</label>
                    <select id="city" name="city" asp-for="City" class=" form-control" required>
                       
                    </select>
                    <div class="invalid-feedback"></div>
                    <span asp-validation-for="City" class=" text-danger"></span>
                </div>
            </div>
            
            
            <div class="col">
                <div class="form-group">
                    <label asp-for="Surbub">select surbub</label>
                    <select id="surbub"name="" id="surbub"asp-for="Surbub" class=" form-control" required>
                       
                    </select>
                    <div class="invalid-feedback"></div>
                    <span asp-validation-for="Surbub" class=" text-danger"></span>
                </div>
            </div>



        </div> *@
        <div class="row">
            <select asp-for="country"  id="country"></select> <br>
            <select asp-for="province"  id="state"></select> <br>
            <select asp-for="City"  id="city"></select>
        </div>
        <div class="row">
            <div class="form-group">
                <label asp-for="ContactNumber"></label>
                <div>
                    <input asp-for="ContactNumber" class="form-control" id="InvalidName" required />
                </div>
                <div class="invalid-feedback"></div>
                <span asp-validation-for="ContactNumber" class=" text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="OperationTheatreID"></label>
                    <div>
                        <input asp-for="OperationTheatreID" class="form-control" id="InvalidName" required />
                    </div>
                    <div class="invalid-feedback"></div>
                    <span asp-validation-for="OperationTheatreID" class=" text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label asp-for="TreatmentID"></label>
                    <div>
                        <input asp-for="TreatmentID" class="form-control" id="InvalidName" required />
                    </div>
                    <div class="invalid-feedback"></div>
                    <span asp-validation-for="TreatmentID" class=" text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label asp-for="MedicalProfessionalID"></label>
                    <div>
                        <input asp-for="MedicalProfessionalID" class="form-control" id="InvalidName" required />
                    </div>
                    <div class="invalid-feedback"></div>
                    <span asp-validation-for="MedicalProfessionalID" class=" text-danger"></span>
                </div>
            </div>

       
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class=" form-control bg-white bg-opacity-25">
                    <a asp-controller="Surgeon" asp-action="Dashboard">Back</a>

                </div>
            </div>
            <div class="col">
                <div class=" form-control bg-white bg-opacity-25">
                    <input type="submit" class="btn-outline-primary" value="submit" />

                </div>
            </div>

        </div>

    </form>
   
   </body>
</html>


