@model WIRKDEVELOPER.Models.BookSurgery

<dv>
    <h6>Add Booking</h6>
</dv>
<hr />
<form method="post" asp-action="CreateAppointment" class=" form-horizontal   bg-green-300  p-2 text-dark bg-opacity-20">
    <div asp-validation-summary="ModelOnly" class=" text-danger"></div>
    <div class="col">
      <div class="row-cols-1">
       <div class=" form-group border-5 border-success">
        <label asp-for="Name"></label>
        <div col-sm-7>
            <input asp-for="Name" class=" form-control" id="validationName" required />
        </div>
        <div class="invalid-feedback">
        </div>
        <span asp-validation-for="Name" class=" text-danger"></span>
       </div>
      </div>
     <div class="row-cols-2">
      <div class=" form-group border-5 border-success">
        <label asp-for="Surname"></label>
        <div col-sm-7>
            <input asp-for="Surname" class=" form-control" id="validationSurname" required />
        </div>
        <div class="invalid-feedback">
        </div>
        <span asp-validation-for="Surname" class=" text-danger"></span>
      </div>
     </div>
     <div class="row">
   
      <div class=" form-group border-5 border-success">
        <label asp-for="Gender"></label>
        <div col-sm-7>
            <input asp-for="Gender" class=" form-control" id="validationAge" required />
        </div>
        <div class="invalid-feedback">
        </div>
        <span asp-validation-for="Gender" class=" text-danger"></span>
      </div>
     </div>
    </div>

    <div class="col">
        <div class="row">
    <div class=" form-group border-5 border-success">
        <label asp-for="EmailAddress"></label>
        <div col-sm-7>
            <input asp-for="EmailAddress" class=" form-control" id="validationEmail" required />
        </div>
        <div class="invalid-feedback">
        </div>
        <span asp-validation-for="EmailAddress" class=" text-danger"></span>
    </div>
        </div>
        <div class="row">
    <div class=" form-group border-5 border-success">
        <label asp-for="Date"></label>
        <div col-sm-7>
            <input asp-for="Date" class=" form-control" id="validationDate" required />
        </div>
        <div class="invalid-feedback">
        </div>
        <span asp-validation-for="Date" class=" text-danger"></span>
    </div>
    </div>
    <div class="row">
    <div class=" form-group border-5 border-success">
        <label asp-for="Time"></label>
        <div col-sm-7>
            <input asp-for="Time" class=" form-control" id="validationTime" required />
        </div>
        <div class="invalid-feedback">
        </div>
        <span asp-validation-for="Time" class=" text-danger"></span>
    </div>
        </div>
    </div>
   @* <div class="col">
        <div class="row">
            <div class="form-group border-5 border-success">
                <label asp-for="Theatre"></label>
                <div col-sm-7>
                    <input asp-for="Theatre"class="form-control" id="validationTheatre" required/>
                </div>
                <div class="invalid-feedback">
                </div>
                <span asp-validation-for="Theatre" class=" text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group border-5 border-success">
                <label asp-for="Anasthesiologist"></label>
                <div col-sm-7>
                    <input asp-for="Theatre" class="form-control" id="validationAnasthesiologist" required />
                </div>
                <div class="invalid-feedback">
                </div>
                <span asp-validation-for="Theatre" class=" text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group border-5 border-success">
                <label asp-for="TreatmentCode"></label>
                <div col-sm-7>
                    <input asp-for="TreatmentCode" class="form-control" id="validationTheatre" required />
                </div>
                <div class="invalid-feedback">
                </div>
                <span asp-validation-for="TreatmentCode" class=" text-danger"></span>
            </div>
        </div>*@
    @*</div>*@
    <div class=" form-group row">
        <div class=" col-8 offset-2 row">
            <div class=" col">
                <input type="submit" class="btn-primary btn-lg  " value="submit" />
            </div>
            <div class=" col-1">
                <a asp-action="BookingListList" class=" btn btn-primary btn-lg ">Bookings</a>
            </div>
        </div>
    </div>
</form>

