@model SearchPatient

@{
    Layout = "~/Views/Shared/SurgeonLayout.cshtml";
}

<h2>Search Results</h2>

<form method="get" asp-action="SearchPatient">
    <div class="form-group">
        <label for="searchTerm">Search Term:</label>
        <input type="text" name="searchTerm" id="searchTerm" value="@Model.SearchTerm" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

@if (Model.addms.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Patient ID Number</th>
                <th>Patient Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.addms)
            {
                <tr>
                  
                    <td>@item.Patient.PatientIDNO</td>
                    <td>@item.Patient.PatientName</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No results found.</p>
    <div class="col-10 text-right">
        <h1><a asp-controller="Surgeon" asp-action="AddPatient" style="width:100%">Add booking for new patient</a></h1>
    </div>
}
