@model WIRKDEVELOPER.Models.DischargePatient
@{
    Layout = "_Nurse";
}
<form method="post" asp-action="AddDischargePatient">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <br />
        <div class="form-group row">
            <h2 class="text-black-50 pt-3">Discharge Patient</h2>
        </div>
    </div>
    <div class="row"
         <div class="col">
            <div class="form-group">
                <label asp-for="PatientName"></label>
                <div>
                    <input asp-for="PatientName" class="form-control" id="PatientName" required />
                </div>
                <div class="invalid-feedback"></div>
                <span asp-validation-for="PatientName" class=" text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="AdmissionDate"></label>
                <div>
                    <input asp-for="AdmissionDate" class="form-control" id="PatientName" required />
                </div>
                <div class="invalid-feedback"></div>
                <span asp-validation-for="AdmissionDate" class=" text-danger"></span>
            </div>
        </div>
         <div class="col">
            <div class="form-group">
                <label asp-for="PatientGender"></label>
                <div>
                    <input asp-for="PatientGender" class="form-control" id="PatientName" required />
                </div>
                <div class="invalid-feedback"></div>
                <span asp-validation-for="PatientGender" class=" text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="MedicationName"></label>
                <div>
                    <input asp-for="MedicationName" class="form-control" id="PatientName" required />
                </div>
                <div class="invalid-feedback"></div>
                <span asp-validation-for="MedicationName" class=" text-danger"></span>
            </div>
        </div>
         @*<div class="col">
            <div class="form-group">
                <label asp-for="Quantity"></label>
                <div>
                    <input asp-for="Quantity" class="form-control" id="PatientName" required />
                </div>
                <div class="invalid-feedback"></div>
                <span asp-validation-for="Quantity" class=" text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Instructions"></label>
                <div>
                    <input asp-for="Instructions" class="form-control" id="PatientName" required />
                </div>
                <div class="invalid-feedback"></div>
                <span asp-validation-for="Instructions" class=" text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="PrescriberName"></label>
                <div>
                    <input asp-for="PrescriberName" class="form-control" id="PatientName" required />
                </div>
                <div class="invalid-feedback"></div>
                <span asp-validation-for="PrescriberName" class=" text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="PrescriberPhone"></label>
                <div>
                    <input asp-for="PrescriberPhone" class="form-control" id="PatientName" required />
                </div>
                <div class="invalid-feedback"></div>
                <span asp-validation-for="PrescriberPhone" class=" text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Status"></label>
                <div>
                    <input asp-for="Status" class="form-control" id="PatientName" required />
                </div>
                <div class="invalid-feedback"></div>
                <span asp-validation-for="Status" class=" text-danger"></span>
            </div>
        </div>*@
    </div>
</form>
