@using Microsoft.AspNetCore.Identity
@using WIRKDEVELOPER.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Nurse";
    Layout = "~/Views/Shared/_NurseLayout.cshtml";
}
<!DOCTYPE html>
<html lang="n">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="~/css/StyleSurgeon2.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title> Health Care</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    @* <h2 class="text-info"> Welcome to Health Care services</h2> *@
                </div>
            </div>

        </nav>

    </header>

    <div class=" row card-container">
        <div class=" col card" style="display:inline-block;width:calc(50%-50px)">
            <div class="card-body" width="250" height="400">
                <img src="~/_Images/stock-vector-time-date-and-location-icons-in-different-shapes-2219032315.jpg" width="60%" height="60%" alt="card image">
            </div>
            <div class="card-footer">
                <a asp-controller="Nurse" asp-action="ViewSchedule">Schedule</a>
            </div>
        </div>
        <div class=" col card" style="display:inline-block;width:calc(50%-50px)">
            <div class="card-body" width="250" height="400">
                <img src="~/_Images/vitals.png" width="60%" height="60%" alt="card image">
            </div>
            <div class="card-footer">
                <a asp-controller="Nurse" asp-action="AddVitals">Vitals</a>
            </div>
        </div>
        <div class=" col card" style="display:inline-block;width:calc(50%-50px)">
            <div class="card-body" width="250" height="400">
                <img src="~/_Images/medicine-prescription-icon-free-vector.jpg" width="60%" height="60%" alt="card image">
            </div>
            <div class="card-footer">
                <a asp-controller="Pharmacist" asp-action="PharmPrescription">Prescription</a>
            </div>
        </div>
        <div class="col card" style="display:inline-block;width:calc(50%-50px)">
            <div class="card-body" width="250" height="400">
                <img src="~/_Images/depositphotos_469758760-stock-illustration-artificial-intelligence-medication-management-icon.jpg" width="60%" height="60%" alt="card image">
            </div>
            <div class="card-footer">
                <a asp-controller="Nurse" asp-action="AddmedAdmin">Administer Med</a>
            </div>
        </div>
        <div class=" col card" style="display:inline-block;width:calc(50%-50px)">
            <div class="card-body" width="250" height="400">
                <img src="~/_Images/istockphoto-1673274817-612x612.jpg" width="60%" height="60%" alt="card image">
            </div>
            <div class="card-footer">
                <a asp-controller="Nurse" asp-action="AddDischargedPatient"> Checkout</a>
            </div>
        </div>
    </div>
    <div class="mycontainer ">
        <div class="text-white text-center">providing the best experience for patients</div>
        <p class="text-white text-center">
            welcome to a place where our first priority is our patients.<br />
            trust us with your wealth and have a great experience
        </p>
    </div>
</body>

</html>