@{
    Layout = "~/Views/Shared/Homelayout.cshtml";
}

<div class="row">
    <div class="col">
        <div class="card">Contacts</div>
    </div>
    <div class="col">
        <div class="card">Address</div>
    </div>
    <div class="col">
        <div class="card">staff</div>
    </div>
    <div class="col">
        <div class="card">service</div>
    </div>
</div>