
#remove{
    align-self:flex-end;
}
#add_more{
    align-self:flex-start;
    border:2px;
    align-content:center;
    justify-content:space-evenly;
}
input[type="text"]{
    padding:10px;
    margin:10px auto;
    display:block;
    border-radius:5px;
    border:2px solid rgb(266,266,266);
    background:none;
    width:274px;
    color:black;
    width:5px;
}
input[type="number"] {
    padding: 10px;
    margin: 10px auto;
    display: block;
    border-radius: 5px;
    border: 2px solid rgb(266,266,266);
    background: none;
    width: 274px;
    color: black;
}
input[type="number"] {
    outline: none;
}
input[type="text"]{
    outline:none;
}
.controls a i{
    width:294px;
    margin:15px auto;

}
a{
    color:black;
    text-decoration:none;
}
