/*body {
    background-color: darkcyan;
}

.col-2 {
    background: rgba( 86, 89, 209, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16.5px );
    -webkit-backdrop-filter: blur( 16.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px;
    text-align: center;
    margin-right: 10px; 
}

    .col-2:last-child {
        margin-right: 0;
    }*/
