@model WIRKDEVELOPER.Models.PharmacyMedication
@{

    Layout = "~/Views/Shared/Pharmacy.cshtml";
}

<div class="card w-75">
    <div class="card-body ">
        <div class="card-header bg-primary">

            <h3 class="card-title text-white mt-2" id="exampleModalLabel">Medication</h3>
        </div>
        <form method="post" asp-action="AddMedication">
            <div class="border p-3 #FBD603">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>@*validation*@

                <div class="row">

                    <div class="form-group">

                     
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4><label asp-for="PharmacyMedicationName"></label></h4>@*These names come from our properties in the model *@
                                    <input asp-for="PharmacyMedicationName" class="form-control box mb-2" type="text" placeholder="select" />
                                    <span asp-validation-for=" PharmacyMedicationName" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <h4><label asp-for="DosageForm"></label></h4>
                                    <select id="PurposeDropdown" asp-for="DosageFormID" class="form-control" asp-items="@ViewBag.getDosage" id="validationName" required>
                                        <option selected disabled>--Select dosage--</option>
                                    </select>
                                    <span asp-validation-for="DosageFormID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4><label asp-for="Schedule"></label></h4>
                                    <select id="PurposeDropdown" asp-for="ScheduleId" class="form-control" asp-items="@ViewBag.getSchedule" id="validationName" required>
                                        <option selected disabled>--Select schedule--</option>
                                    </select>
                                    <span asp-validation-for="ScheduleId" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <h4><label asp-for="Active"></label></h4>
                                    <select id="PurposeDropdown" asp-for="ActiveID" class="form-control" asp-items="@ViewBag.getActive" id="validationName" required>
                                        <option selected disabled>--Select Active--</option>
                                    </select>
                                    <span asp-validation-for="ActiveID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4><label asp-for="stockhand"></label></h4>

                                    <input asp-for="stockhand" class="form-control box mb-2" type="text" placeholder="select" />
                                    <span asp-validation-for="stockhand" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <h4><label asp-for="stocklevel"></label></h4>
                                    <input asp-for="stocklevel" class="form-control box mb-2" type="text" placeholder="select" />
                                    <span asp-validation-for="stocklevel" class="text-danger"></span>
                                </div>
                            </div>
                           
                                                                                  
                            <div class="col-12">
                                <div class="row">

                                    <div class="col-md-6">
                                        <h4><label asp-for="Strength"></label></h4>
                                        <input asp-for="Strength" class="form-control box mb-2" type="text" placeholder="select" />
                                        <span asp-validation-for="Strength" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="form-group row">
                                    <div class="col-4 offset-9 row">
                                        <div class="col">
                                            <input type="submit" class="btn btn-info w-75 bi bi-arrow-left-circle" value="SAVE" />
                                           
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
        </form>
    </div>
</div>

</div>
