@model WIRKDEVELOPER.Models.PharmacyMedication
@{

    Layout = "~/Views/Shared/Pharmacy.cshtml";
}

<div class="card w-75">
    <div class="card-body ">
        <div class="card-header bg-primary">

            <h3 class="card-title text-white mt-2" id="exampleModalLabel">Medication</h3>
        </div>
        <form asp-action="AddMedication" method="post">
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="PharmacyMedicationName" class="control-label"></label>
                    <input asp-for="PharmacyMedicationName" class="form-control" />
                    <span asp-validation-for="PharmacyMedicationName" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="ScheduleId" class="control-label">Dosage Form</label>
                        <select asp-for="ScheduleId" class="form-control" asp-items="ViewBag.getSchedule">
                            <option selected disabled>--Select schedule--</option>
                        </select>
                        <span asp-validation-for="ScheduleId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="stockhand" class="control-label"></label>
                    <input asp-for="stockhand" class="form-control" />
                    <span asp-validation-for="stockhand" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="stocklevel" class="control-label"></label>
                    <input asp-for="stocklevel" class="form-control" />
                    <span asp-validation-for="stocklevel" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="DosageFormID" class="control-label">Dosage Form</label>
                    <select asp-for="DosageFormID" class="form-control" asp-items="ViewBag.getDosage">
                        <option selected disabled>--Select dosage form--</option>
                    </select>
                    <span asp-validation-for="DosageFormID" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label>Active Ingredients</label>
                <div id="ingredients">
                    <div class="row">
                        <div class="col-md-6">
                            <select class="form-control" name="selectedIngredients">
                                @if (ViewBag.getActive != null)
                                {
                                    foreach (var item in ViewBag.getActive)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                                else
                                {
                                    <option value="">No active ingredients available</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="ingredientStrengths" placeholder="Enter Strength" />
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary mt-2" onclick="addIngredient()">Add Another Ingredient</button>
            </div>

            <div class="form-group">
                <input type="submit" value="Add Medication" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function addIngredient() {
            // Clone the first ingredient row and append it
            var firstIngredientRow = $('#ingredients .row:first').clone();
            // Clear the input fields in the cloned row
            firstIngredientRow.find('input').val('');
            $('#ingredients').append(firstIngredientRow);
        }
    </script>
}


