@model WIRKDEVELOPER.Models.Medication;
@{

    Layout = "~/Views/Shared/Pharmacy.cshtml";
}
<h1>Add Medication</h1>

<div class="mx-0 mx-sm-auto">
    <div class="card w-75">
        <div class="card-body ">
            <div class="card-header bg-primary">

                <h3 class="card-title text-white mt-2" id="exampleModalLabel">ORDER Medication</h3>
            </div>
            <form method="post" asp-action="Medicationlist">
                <div class="border p-3 #FBD603">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">

                        <div class="form-group">

                            <div class="col-12">

                                <div class="row">
                                     
                                  
                                    <div class="col-md-6">
                                        <h4><label asp-for="MedicationName"></label></h4>
                                        <input asp-for="MedicationName" class="form-control box mb-2" type="text" placeholder="select" />
                                        <span asp-validation-for="MedicationName" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-2">
                                        <h4><label asp-for="RestockLevel"></label></h4>
                                        <select id="PurposeDropdown" asp-for="RestockLevel" class="form-control" id="validationName" required>
                                            <option value="Select" class="bg-opacity-50">Select</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <span asp-validation-for="RestockLevel" class="text-danger"></span>
                                    </div>

                                    
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        <h4><label asp-for="DosageForm"></label></h4>
                                        <select id="PurposeDropdown" asp-for="DosageForm" class="form-control" id="validationName" required>
                                            <option value="Select" class="bg-opacity-50">Select</option>
                                            <option value="YES">Schedule 1</option>
                                            <option value="NO">Schedule 2</option>
                                        </select>
                                        <span asp-validation-for="DosageForm" class="text-danger"></span>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        <h4><label asp-for="Schedule"></label></h4>
                                        <select id="PurposeDropdown" asp-for="Schedule" class="form-control" id="validationName" required>
                                            <option value="Select" class="bg-opacity-50">Select</option>
                                            <option value="YES">Schedule 1</option>
                                            <option value="NO">Schedule 2</option>
                                        </select>
                                        <span asp-validation-for="Schedule" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-2">
                                        <h4><label asp-for="ActiveIngredient"></label></h4>
                                        <select id="PurposeDropdown" asp-for="ActiveIngredient" class="form-control" id="validationName" required>
                                            <option value="Select" class="bg-opacity-50">Select</option>
                                            <option value="Ordered">Ordered</option>
                                            <option value="mmHg">mmHg</option>
                                            <option value="°C">°C</option>
                                        </select>
                                        <span asp-validation-for="ActiveIngredient" class="text-danger"></span>
                                    </div>

                                </div>

                            </div>
                            <div>
                                <div class="form-group row">
                                    <div class="col-4 offset-9 row">
                                        <div class="col">
                                            <input type="submit" class="btn btn-info w-75 bi bi-arrow-left-circle" value="MedicationList" />
                                        </div>
                                          <div class="col">
                                        <a asp-action="IndexScree" class="btn btn-danger w-75"><i class="bi bi-arrow-left-circle"></i>BACK</a>
                                        </div> 
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>
                 <div class=" row-2">
                    <div class="col-8  row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75 bi bi-arrow-left-circle" value="Vital History" />
                        </div>
                        <div class="col">
                            <a asp-action="IndexScree" class="btn btn-info w-75"><i class="bi bi-arrow-left-circle"></i>Medical History</a>
                        </div>
                    </div>
                </div> 
            </form>
        </div>
    </div>

</div>

