@model WIRKDEVELOPER.Models.Medication;
@{

    Layout = "~/Views/Shared/Pharmacy.cshtml";
}
<div class="row">
    <div class="col">
        <a asp-action="BookingList" class="btn btn-outline-primary">List</a>
    </div>
</div>
<div class="row">

    <div class="col">
        <div class="mt-2 bg-info bg-opacity-50 text-center text-white rounded-1">ADD NEW BOOKING</div>
    </div>
</div>

<form method="post" asp-action="CreateMedication" class="bg-white bg-opacity-60 border border-3 border-dark">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="MedicationName"></label>
                <div>
                    <input asp-for="MedicationName" class="form-control" id="Name" required />
                </div>
                <div class="invalid-feedback"></div>
                <span asp-validation-for="MedicationName" class=" text-danger"></span>
            </div>
        </div>
        <div class="col">
           
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="ActiveIngridientID"></label>
                <select id="Dropdown" asp-for="ActiveIngridientID" class=" form-control" id="validation" required>
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>

                </select>
                <div class="invalid-feedback"></div>
                <span asp-validation-for="ActiveIngridientID" class=" text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Schedule"></label>
                <select id="Dropdown" asp-for="Schedule" class=" form-control" id="validation" required>
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>

                </select>
                <div class="invalid-feedback"></div>
                <span asp-validation-for="Schedule" class=" text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="RestockLevel"></label>
                <select id="Dropdown" asp-for="RestockLevel" class=" form-control" id="validation" required>
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>

                </select>
                <div class="invalid-feedback"></div>
                <span asp-validation-for="RestockLevel" class=" text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        @*  <div class="col">
        <div class="form-group">
        <label asp-for="Theatre"></label>
        <div>
        <input  asp-for="Theatre" class="form-control" id="InvalidName" required />
        </div>
        <div class="invalid-feedback"></div>
        <span asp-validation-for="Theatre" class=" text-danger"></span>
        </div>
        </div>
        <div class="col">
        <div class="form-group">
        <label asp-for="TreatmentCode"></label>
        <div>
        <input  asp-for="TreatmentCode" class="form-control" id="InvalidName" required />
        </div>
        <div class="invalid-feedback"></div>
        <span asp-validation-for="TreatmentCode" class=" text-danger"></span>
        </div>
        </div>
        <div class="col">
        <div class="form-group">
        <label asp-for="Anasthesiologist"></label>
        <div>
        <input  asp-for="Anasthesiologist" class="form-control" id="InvalidName" required />
        </div>
        <div class="invalid-feedback"></div>
        <span asp-validation-for="Anasthesiologist" class=" text-danger"></span>
        </div>
        </div>
        *@
    </div><br>


    <div class="row">
        <div class="col">
            <div class=" form-control bg-white bg-opacity-25">
                <a asp-controller="Surgeon" asp-action="Dashboard">Back</a>

            </div>
        </div>
        <div class="col">
            <div class=" form-control bg-white bg-opacity-25">
                <input type="submit" class="btn-outline-primary" value="submit" />

            </div>
        </div>

    </div>
</form>


