@model WIRKDEVELOPER.Models.RecivedOrderViewModel
@{

    Layout = "~/Views/Shared/Pharmacy.cshtml";
}
<h1>Received Medication</h1>

<form asp-action="ReceivedMedication" method="post">
    <div class="form-group">
        <label asp-for="SelectedMedicationId">Medication</label>
        <select asp-for="SelectedMedicationId" asp-items="Model.Medications" class="form-control">
            <option value="">Select Medication</option>
        </select>
        <span asp-validation-for="SelectedMedicationId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="QuantityReceived">Quantity Received</label>
        <input type="number" asp-for="QuantityReceived" class="form-control" />
        <span asp-validation-for="QuantityReceived" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Capture</button>   <a asp-controller="Pharmacist" asp-action="IndexRecieved" class="btn btn-primary"><i class="bi bi-arrow-repeat"></i>StockRecord</a>
</form>
